{% extends "core/base.html" %}

{% block title %}Create Earning{% endblock %}

{% block content %}
    <div class="earning-form">
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
{% endblock %}