{% extends "core/base.html" %}

{% block title %}Delete Employee{% endblock %}

{% block content %}
    <div>
        <form action="" method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <button>Confirm</button>
        </form>
    </div>
{% endblock %}