{% extends "core/base.html" %}

{% block title %}Create Employee{% endblock %}

{% block content %}
    <div class="employee-form">
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <button>Add</button>
        </form>
    </div>
{% endblock %}