{% extends "core/base.html" %}

{% block title %}Employees list{% endblock %}

{% block content %}
    <div class="employee-create">
        <a href="{% url 'core:employee-create' %}">New Employee</a>
    </div>
    <div class="employee-list">
        <ul>
            {% for employee in employees %}
                <li class="employee-details">
                    <p>{{ employee.full_name }}</p>
                    {% if not employee.terminated %}
                        {% if employee.salarydetail %}
                            <a href="{% url 'core:salary-detail-view' employee.salarydetail.id %}">Salary Details</a>
                        {% else %}
                            <a href="{% url 'core:salary-detail-create' employee.id %}">New Salary Details</a>
                        {% endif %}

                        <a href="{% url 'core:employee-update' employee.id %}">Update</a>
                        <a href="{% url 'core:employee-delete' employee.id %}">Delete</a>
                        {% if employee.is_married %}
                            <a href="{% url 'core:sibling-list' employee.id %}">Siblings</a>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}