{% extends "core/base.html" %}

{% block title %}Salary Details{% endblock %}

{% block content %}
    <div class="salary-details">
        <p>Name: {{ salary_details.employee.full_name }}</p>
        <p>Main Salary: {{ salary_details.main_salary }}</p>
        <p>Deductions: {{ salary_details.total_deductions }}</p>
        <p>Earnings: {{ salary_details.total_earnings }}</p>
        <p>Total Salary: {{ salary_details.total_salary }}</p>

        <a href="{% url 'core:deduction-create' salary_details.id %}">New Deduction</a>
        <a href="{% url 'core:earning-create' salary_details.id %}">New Earning</a>
    </div>
{% endblock %}