{% extends "core/base.html" %}

{% block title %}Create Salary{% endblock %}

{% block content %}
    <div class="salary-form">
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <button>Add</button>
        </form>
    </div>
{% endblock %}