{% extends "core/base.html" %}

{% block title %}Update Sibling{% endblock %}

{% block content %}
    <div class="sibling-form">
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <button>Update</button>
        </form>
    </div>
{% endblock %}