{% extends "core/base.html" %}

{% block title %}Siblings list{% endblock %}

{% block content %}
    <div class="sibling-create">
        <a href="{% url 'core:sibling-create' employee.id %}">New Sibling</a>
    </div>
    <div class="sibling-list">
        <ul>
            {% for member in members %}
                <li class="sibling-details">
                    <p>{{ member.get_relation_type_display }}</p>
                    <p>{{ member.name }}</p>
                    <a href="{% url 'core:sibling-update' employee.id member.id %}">Update</a>
                    <a href="{% url 'core:sibling-delete' employee.id member.id %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}